# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres"

# Authentication Secret (Used for encrypting session cookies)
# You can generate a random string using: openssl rand -base64 32
AUTH_SECRET="iuiuiui"

# Environment (development or production)
NODE_ENV="development"

# WhatsApp API Server URL (If using the standalone WA integration)
WA_SERVER_URL="http://localhost:9999"

# Cron Secret for securing Vercel Cron jobs (Protecting API endpoints)
CRON_SECRET="uiuiuiui"